services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: user_student_mgmt_api
    restart: always
    env_file:
      - .env
    environment:
      ASPNETCORE_ENVIRONMENT: ${ASPNETCORE_ENVIRONMENT}
      ConnectionStrings__DefaultConnection: ${DB_CONNECTION}
      Jwt__Key: ${JWT_KEY}
      Jwt__Issuer: ${JWT_ISSUER}
      Jwt__Audience: ${JWT_AUDIENCE}
    ports:
      - "8080:8080"
      - "8081:8081"
    volumes:
      - ./UserStudentMgmt.Api:/app
